button {
  width: 250px;
  height: 80px;
  font-size: 30px;
  font-family: Robot, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00471b;
}

.click-btn {
  background-color: #002ead;
}

.reset-btn {
  background-color: #5a01a7;
}